[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  VITE_API_URL = "https://book-bazar.onrender.com"

[context.development.environment]
  VITE_API_URL = "http://localhost:5000"
